*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/production/res/values/credentials.xml
/app/src/staging/res/values/credentials.xml
